body {
  font-family: "Lato", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
    scroll-behavior: smooth; 
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: rgba(173, 216, 230, 0.5);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.photo {
  position: relative;
  border-radius: 10%;
  border-top-right-radius: 20%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 15px;
  line-height: 50px;
  font-style: oblique;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.nav-item a {
  color: blue;
}

.nav-item a:hover {
  color: red
}

.main {
  background-color: rgba(173, 216, 230, 1);
}

.my-name {
  font-style: oblique;
}

.contacts {
  list-style: none;
}

.basic-skills {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.name-skills {
  font-weight: none;
  font-size: 14px;
}

.blockquote {
  font-style: oblique;
}

.pre-code {
  padding: 0;
  margin: 0;
}

.footer {
  text-align: right;
  background-color: rgba(173, 216, 230, 0.5);
}