body {
  font-family: "Lato", sans-serif;

  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
    scroll-behavior: smooth; 
}

.container {
  max-width: 1440px;
   margin: 0 auto;
}

.header {
  background-color: lightblue;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.nav-link {
  padding: 0 15px;
  line-height: 50px;

  color: blue;
  font-style: oblique;
  font-weight: bold;
  text-decoration: none;
}

.main {
  background-color: aqua;
}

.footer {
  text-align: right;
  background-color: lightblue;
}